body {
    width: 1000px;
    height: 700px;
}

.flex-container {
    display: flex;
    margin-left: 50%;

}

.result {
    background-color: hsla(256, 72%, 46%, 1);
    width: 500px;
    height: 370px;
    border-radius: 10%;
    text-align: center;
}

.result h2 {
    color: rgb(148, 140, 140);
    font-size: 20px;
    padding-top: 5px;
}

#grade {
    width: 150px;
    height: 150px;
    background-color: hsla(241, 72%, 46%, 0.8);
    border-radius: 50%;
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto;
}

#grade p:nth-of-type(1) {
    color: rgba(245, 242, 242, 0.821);
    font-size: 50px;
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 20%;
}

#grade p:nth-of-type(2) {
    color: grey;
    font-size: 15px;
    margin-top: 0;
}


#feedback h1 {
    color: hsl(221, 100%, 96%);
    font-size: 25px;
    margin-bottom: auto;
}

#feedback h2 {
    margin-top: auto;
    font-size:15px;
}

.flex-child:nth-of-type(2) {
    width: 400px;
    height: 370px;
    margin-left: 40px;
}

.summary h1 {
    font-size: 20px;
    padding-top: 5%;
    margin-bottom: 6%;
}

#summary-grade div:nth-of-type(1) {
    width: 60%;
    height: 20px;
    background-color: hsla(0, 100%, 67%, 0.2);
    color: hsl(0, 100%, 67%);
    padding: 3% 3% 2% 10%;
    margin-bottom: 4%;
    border-radius: 5px; 
}

#summary-grade div:nth-of-type(2) {
    width: 60%;
    height: 20px;
    background-color: hsla(39, 100%, 56%, 0.2);;
    color: hsl(39, 100%, 56%);
    padding: 3% 3% 2% 10%;
    margin-bottom: 4%; 
    border-radius: 5px;
}

#summary-grade div:nth-of-type(3) {
    width: 60%;
    height: 20px;
    background-color: hsla(166, 100%, 37%, 0.2);
    color: hsl(166, 100%, 37%);
    padding: 3% 3% 2% 10%;
    margin-bottom: 4%; 
    border-radius: 5px;
}

#summary-grade div:nth-of-type(4) {
    width: 60%;
    height: 20px;
    background-color:  hsla(234, 85%, 45%, 0.2);
    color: hsl(234, 85%, 45%);
    padding: 3% 3% 2% 10%;
    margin-bottom: 1.5em; 
    border-radius: 5px;
}

#btn {
    width: 60%;
    height: 3em;
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 2em;
    margin-left: 1.5em;
}

.attribution {
    text-align: center;
    margin-left: 50%;
    margin-top: 5%;
}